<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571790127747-25f4gtg81jc0j1tsfejuvknad7pon6bo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571790127747-25f4gtg81jc0j1tsfejuvknad7pon6bo</string>
	<key>API_KEY</key>
	<string>AIzaSyAW7kjg-UUh-8nYEZC1iuyDFovkzSl8cc0</string>
	<key>GCM_SENDER_ID</key>
	<string>571790127747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cord.cord2MobileApp</string>
	<key>PROJECT_ID</key>
	<string>cord2-6c88c</string>
	<key>STORAGE_BUCKET</key>
	<string>cord2-6c88c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571790127747:ios:694bbb5e50643a7f4c61b6</string>
	<key>DATABASE_URL</key>
	<string>https://cord2-6c88c-default-rtdb.firebaseio.com</string>
</dict>
</plist>